
@{
    ViewBag.Title = "SignUp";
}

<section style="background-image: url(/Content/ecoverde/images/bg_1.jpg);" data-stellar-background-ratio="0.5">
    <section class="ftco-section contact-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 heading-section text-center ftco-animate mb-5 fadeInUp ftco-animated">
                    <span class="subheading">Üye Ol</span>
                    <h2 class="mb-2">Üyelik Bilgilerinizi Giriniz</h2>
                </div>
            </div>

            <div class="row block-9 justify-content-center mb-5">
                <div class="col-md-6 mb-md-5">
                    <form role="form" class="bg-light p-5 login-form" method="post" action="/Login/SignUp">
                        <div class="form-group">
                            <label for="inputUsername" class="col-sm-3 control-label">Ad Soyad</label>
                            <input autocomplete="off" class="form-control" id="inputUsername" placeholder="Ad Soyad" type="text" name="uyeAdSoyad">
                        </div>
                        <div class="form-group">
                            <label for="inputEmail" class="col-sm-3 control-label">Email</label>
                            <input autocomplete="off" class="form-control" id="inputEmail" placeholder="Email" type="email" name="uyeMail">
                        </div>
                        <div class="form-group">
                            <label for="inputPassword" class="col-sm-3 control-label">Şifre</label>
                            <input autocomplete="off" class="form-control" id="inputPassword" placeholder="Şifre" type="password" name="uyeSifre">
                        </div>
                        <input type="hidden" name="uyeTuruID" value="3" />
                        <button type="submit" class="btn btn-success py-2 px-4">Üyelik Oluştur</button>
                    </form>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-md-6 heading-section text-center ftco-animate mb-5 fadeInUp ftco-animated bg-light p-5 login-form">
                    <span class="subheading">Zaten üye misiniz?</span><br />
                    <span>
                        <a href="/Login/Login" class="btn btn-primary py-2 px-4 rounded">Giriş Yap</a>
                    </span>
                </div>
            </div>

        </div>
    </section>
</section>